a	{
	color: white;
	text-decoration: none;
	font-style:normal;
}

ul {
	margin-left: 25%;
	}

.container-fluid {
	background-color: black;
	}
.nav{
	margin-left: 15%;
}
li {
	margin-left: 30px;
}
.images1{
	margin-bottom:10px;
}
.foot{
	margin-right:30px;
}
.footerr{
	margin-left:15%;
}